body {
  background-color: #808080;
}

.page-content {
    margin-top: 1%;
  }
  
  .container {
    max-width: 550px;
    margin: auto;
    border: 1px solid gainsboro;
    box-shadow: 20px 20px 20px 20px;
    border-radius: 40px;
    padding: 10px 50px 40px;
    background-color: #000;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
  
  .heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 5px;
    color: #fff;
  }
  
  .textarea {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  button {
    border: none;
    background-color: orange;
    color: white;
    padding: 18px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
  }
  
  .div1,
  .div2,
  .div3 {
    margin-top: 15px;
    padding: 10px 20px 30px;
    background-color: gainsboro;
    border-radius: 5px;
    font-size: 21px;
  }
  
  .heading1,
  .heading2,
  .heading3 {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
  }